@import url("./alert.css");

:root {
  --primary-color: beige;
  --secondary-color: #2f3645;
  --light-color: #fff;
}

body {
  background-color: var(--primary-color);
}

.header-content {
  color: var(--light-color);
}

.button {
  background-color: var(--primary-color);
  color: var(--light-color);
}

.button:hover {
  background-color: var(--secondary-color);
}

/* Base Styles */
body {
  font-family: Arial, sans-serif !important;
  margin: 0;
  padding: 0;
  height: 100vh; /* Full height of the viewport */
  width: 100%; /* Full width of the viewport */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; /* Ensures the image doesn't repeat */
  justify-content: center;
  align-items: flex-start;
}

.notification-popup {
  position: fixed; /* Position fixed to stay in the middle of the viewport */
  top: 8%;
  right: 5%;
  width: 300px;
  max-height: 80vh;
  overflow-y: auto;
  background-color: beige;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: none; /* Hide by default */
  z-index: 1000; /* Ensure it's above other content */
  color: black;
  max-width: 85%;
}

.notification-popup.show {
  display: block; /* Show the popup when the .show class is added */
  background-color: white;
}

.notification-popup p {
  margin: 0;
}

.button {
  display: block;
  background-color: #2f3645;
  color: white;
  border: none;
  padding: 1em;
  width: 80%;
  font-size: 1em;
  cursor: pointer;
  border-radius: 30px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  text-align: center;
  margin: 0 auto; /* Centers the button horizontally */
}

/* Slider Styles */
.slider {
  position: relative;
  border-radius: 15px;
  padding: 20px;
}

.slide {
  display: none;
  position: relative;
}

.slide img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
}

.slide-content {
  position: absolute;
  top: 20%;
  left: 5%;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.slide-content h3 {
  font-size: 1em;
  margin: 0 0 10px;
}

.slide-content p {
  font-size: 1.2em;
  margin: 0 0 20px;
}

.slide-content .button {
  background-color: #2f3645;
  color: white;
  border: none;
  padding: 0.5em 1em;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  text-align: center;
}

/* Header Styles */
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #2f3645;
  color: white;
  z-index: 1000;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.logo-img {
  height: 65px;
  width: auto;
}

.notification-icon {
  font-size: 24px;
  position: absolute;
  right: 20px; /* Adjust as needed */
  top: 50%;
  transform: translateY(-50%);
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

/* Container Styles */
.container {
  margin-top: 30px;
  padding: 0;
}

.profile-container,
.register-container,
.login-container,
.settings-container {
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.profile-box,
.register-box,
.settings-box {
  background-color: beige;
  border-radius: 10px;
  padding: 2em;
  text-align: left; /* Align text to the left */
  margin: 0 auto; /* Center the box horizontally */
  overflow-y: auto;
}

.profile-box i {
  font-size: 22px;
}

.profile-box img,
.login-box img,
.register-box img {
  width: auto;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 1em;
  display: block;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.profile-box h2,
.login-box h2,
.register-box h2,
.settings-box h2 {
  margin-bottom: 0.5em;
  color: #2f3645;
  text-align: center;
}

.profile-box p .setting-box p {
  display: flex;
  align-items: center;
  margin: 0.5em 0; /* Add some vertical spacing */
}

.profile-box p i {
  margin-right: 10px; /* Space between icon and text */
}

.profile-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px; /* Adjust margin as needed */
}

.profile-actions .button {
  width: 45%; /* Adjust width to fit both buttons in a row */
}

.profile-actions .logout-button {
  background-color: #f44336; /* Example color for logout button */
}

/* Form Styles */
.login-box form,
.register-box form,
.settings-box form {
  flex-direction: column;
  align-items: center;
}

label {
  font-size: 1.2em;
  margin-bottom: 0.5em;
  color: #2f3645;
  text-align: left;
  width: 100%;
}

input[type="number"],
input[type="text"],
input[type="password"],
input[type="email"],
input[type="organization"],
textarea {
  width: calc(100% - 22px);
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

textarea {
  resize: vertical;
}

/* Password Toggle Styles */
.password-toggle {
  position: relative;
  width: calc(30% - 30px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 0.5em;
  margin-top: 20px;
}

.password-toggle img {
  cursor: pointer;
  width: 25px;
  height: 20px;
  margin-left: 10px;
}

/* Forgot Password Styles */
.forgot-password {
  text-align: left;
  margin-top: 0;
  font-size: 0.9em;
  color: #007bff;
  flex-grow: 1;
}

/* Checkbox Styles */
.form-check {
  margin-bottom: 1em;
  text-align: left;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input[type="checkbox"] {
  margin-right: 0.5em;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #000000;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease;
}

input[type="checkbox"]:checked::before {
  content: "\2714";
  font-size: 14px;
  color: #007bff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type="checkbox"]:hover {
  background-color: #f0f0f0;
}

/* Link Styles */
a:hover {
  text-decoration: underline;
}

.feedback-link,
.register-link,
.login-link {
  text-align: center;
  margin-top: 1em;
}

/* Feature Styles */
/* .features {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
} */

.features h2 {
  color: #2f3645;
  text-align: center;
  margin-bottom: 20px;
}

.feature {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.feature:hover {
  transform: translateY(-5px);
}

.feature h3 {
  color: white;
  font-size: 1.2em;
}

.feature p {
  color: #666;
  margin-top: 5px;
}

.feature img {
  height: 50px;
  width: 50px;
  margin-right: 20px;
}

.feature-content {
  flex: 1;
}

/* Project History Styles */
.project-history {
  margin-top: 100px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  max-width: 95%;
  height: 80vh;
  max-height: 80vh;
  box-sizing: border-box;
  overflow-x: auto; /* Enable horizontal scrolling */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on touch devices */
}

.project-history h2 {
  color: #2f3645;
  text-align: center;
  margin-bottom: 20px;
  font-size: 2em;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th,
table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: #f2f2f2;
}

/* Profile Picture Upload Styles */
.profile-pic-section {
  text-align: center;
  margin-bottom: 1em;
  position: relative;
  display: inline-block;
  margin-left: 35%;
}

.profile-pic-label {
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #ccc;
  transition: border-color 0.3s;
  justify-content: center;
}

.upload-button {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #007bff;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  font-size: 1em;
  transition: background-color 0.3s;
}

.upload-button i {
  font-size: 1.2em;
}

#profile-pic {
  display: none;
}

/* Back Button Styles */
.back-button,
.settings-button {
  font-size: 24px;
  position: absolute;
  left: 20px; /* Adjust as needed */
  top: 50%;
  transform: translateY(-50%);
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

/* Bottom Navigation Styles */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #2f3645;
  padding: 10px 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.bottom-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.bottom-nav ul li {
  flex: 1;
  text-align: center;
}

.bottom-nav ul li a {
  display: block;
  padding: 5px;
  color: white;
  text-decoration: none;
  transition: background-color 0.5s, color 0.5s, transform 0.3s ease-in-out;
  position: relative;
}

.bottom-nav ul li a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 0;
  height: 2px;
  background: beige;
  transition: width 1s ease, left 1s ease;
}

.bottom-nav ul li a:hover::after,
.bottom-nav ul li a:focus::after,
.bottom-nav ul li a:active::after,
.bottom-nav ul li a.active::after {
  width: 100%;
  left: 0;
}

.bottom-nav ul li a i {
  font-size: 22px;
  transition: color 0.3s, transform 0.3s;
}

.bottom-nav ul li a:hover i,
.bottom-nav ul li a:focus i,
.bottom-nav ul li a:active i,
.bottom-nav ul li a.active i {
  color: beige;
  transform: scale(1.2);
}

.bottom-nav ul li a span {
  display: block;
  transition: color 0.3s;
}

.bottom-nav ul li a:hover span,
.bottom-nav ul li a:focus span,
.bottom-nav ul li a:active span,
.bottom-nav ul li a.active span {
  color: beige;
}

/* Style for Combo Box */
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: white;
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray"><path d="M5.5 7l4 4 4-4z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
  background-size: 12px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select:focus {
  border-color: #0056b3;
  box-shadow: 0 0 5px rgba(0, 86, 179, 0.3);
  outline: none;
}

select option {
  padding: 10px;
  font-size: 16px;
}

/* Additional padding for main content */
main {
  padding-bottom: 20px; /* Adjust the value as needed */
}

@media (max-width: 768px) {
  .fixed-header {
    height: 60px;
  }

  .button {
    width: 90%;
  }

  .notification-popup {
    width: 90%;
    right: 5%;
  }

  .profile-box,
  .login-box,
  .register-box {
    padding: 2em;
    height: auto;
  }
}
