* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  min-height: 100vh;
}

button > [class^=ph-],
button > .ph {
  vertical-align: middle;
}

#controller-page {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #1e293b;
  color: #f1f5f9;
}

#video-src {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  aspect-ratio: 16/9;
  position: absolute;
  z-index: 0;
}

button {
  background-color: transparent;
  border: 0;
  color: inherit;
}
button:hover, button:focus {
  background-color: rgba(15, 23, 42, 0.5);
}

.controllers {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}
.controllers .top-bar {
  display: flex;
  gap: 20px;
  padding: 8px 12px;
  background-color: rgba(15, 23, 42, 0.7);
  align-items: center;
}
.controllers .top-bar button {
  display: inline-block;
  padding: 4px;
  font-size: 20px;
}
.controllers .top-bar .statuses {
  flex: 1;
  display: flex;
  gap: 20px;
}
.controllers .top-bar .statuses i {
  margin-right: 2px;
  vertical-align: inherit;
}
.controllers .actions .left {
  position: absolute;
  bottom: 70px;
  left: 70px;
  width: 35px;
  height: 35px;
  background-color: rgba(15, 23, 42, 0.3);
}
.controllers .actions .left button {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 24px;
  background-color: inherit;
  padding: 4px;
}
.controllers .actions .left button:focus {
  background-color: rgba(15, 23, 42, 0.8);
}
.controllers .actions .left #up {
  bottom: 100%;
  left: 0;
}
.controllers .actions .left #down {
  top: 100%;
  left: 0;
}
.controllers .actions .left #rotate-left {
  right: 100%;
  top: 0;
}
.controllers .actions .left #rotate-right {
  left: 100%;
  top: 0;
}
.controllers .actions .right {
  position: absolute;
  bottom: 70px;
  right: 70px;
  width: 35px;
  height: 35px;
  background-color: rgba(15, 23, 42, 0.3);
}
.controllers .actions .right button {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 24px;
  background-color: inherit;
  padding: 4px;
}
.controllers .actions .right button:focus {
  background-color: rgba(15, 23, 42, 0.8);
}
.controllers .actions .right #forward {
  bottom: 100%;
  left: 0;
}
.controllers .actions .right #backward {
  top: 100%;
  left: 0;
}
.controllers .actions .right #strafe-left {
  right: 100%;
  top: 0;
}
.controllers .actions .right #strafe-right {
  left: 100%;
  top: 0;
}

.modals .toast-bottom {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0);
}
.modals #video-err {
  background-color: #0f172a;
  padding: 8px 12px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 12px;
}
.modals #video-err button {
  color: #16a34a;
}
.modals .main-modal {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 8px 12px;
  border-radius: 6px;
  background-color: #f1f5f9;
  color: #1e293b;
  font-size: 18px;
}
.modals #connect-modal {
  display: flex;
  align-items: center;
  gap: 12px;
}
.modals #connect-error-modal {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.modals #connect-error-modal #retry-server-btn {
  display: block;
  font-size: 16px;
  padding: 8px 12px;
  color: #16a34a;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spin {
  display: inline-block;
  animation: spin 750ms ease-in-out infinite;
}